<body>
    <div class="container mt-5">
        <h1 class="text-center">Tutorial</h1>

        <h2>Paso Nº 1</h2>
        <p>Ingresamos desde "Start"</p>
        <img src="../assets/tutorial1.PNG" class="img-fluid rounded" alt="Tutorial 1">
        
        <h2>Paso Nº2</h2>
        <p>Agregar un egreso</p>
        <img src="../assets/tutorial2.PNG" class="img-fluid rounded">
        
        <h2>Paso Nº3</h2>
        <p>Llenar los campos para crear egreso</p>
        <img src="../assets/tutorial3.PNG" class="img-fluid rounded">
        
        <h2>Paso Nº4</h2>
        <p>Acciones a realizar: Ver</p>
        <img src="../assets/tutorial4.PNG" class="img-fluid rounded">
        <img src="../assets/tutorial5.PNG" class="img-fluid rounded">
        
        <h2>Paso Nº5</h2>
        <p>Acciones a realizar: Editar</p>
        <img src="../assets/tutorial6.PNG" class="img-fluid rounded">
        
        <h2>Paso Nº6</h2>
        <p>Acciones a realizar: Eliminar</p>
        <img src="../assets/tutorial7.PNG" class="img-fluid rounded">
    </div>
</body>