<body>

<div class="d-flex justify-content-center align-items-center vh-100">
    <div class="text-center">
        <h1>Bienvenido</h1>
        <h2><b>CONTROL DE GASTOS</b></h2>
        <ul>
            <li>Controlar tus finanzas personales.</li>
            <li>Identificar dónde estás gastando tu dinero.</li>
            <li>Tomar medidas para reducir tus gastos.</li>
        </ul>
        <button class="btn btn-success">
            <a routerLink='/egresos/' routerLinkActive="active-link">
                <h2 class="card-title">Start</h2>
            </a>
        </button>
    </div>
</div>
<router-outlet></router-outlet>
</body>